
@import './reset.css';
@import './fontello.css';
@import './start-page-common.css';
@import './weather.css';
@import './todo.css';
@import './etc.css';
@import './animation.css';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: 'Manrope', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
}
h1, h2, h3 {
  display: none;
}
input, button{
  outline: 0;
  background: none;
}
.container {
  background: url('../asset/images/ken-cheung-KonWFWUaAuk-unsplash.jpg') no-repeat top;
  background-size: cover;
  opacity: 1;
}
div[class$="-page"] {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100vh;
  box-sizing: border-box;
  padding: 1%;
}
.grid div{
  box-sizing: border-box;
}
.search-sec, .weather-sec{
  height: 13vh;
}
.setting-sec, .todolist-sec, .quote-sec{
  height: 10vh;
}
.search-sec{
  grid-area: 1/1/3/2;
}
.weather-sec{
  grid-area: 1/4/2/5;
}
.main-sec{
  grid-area: 2/2/3/4;
}
.setting-sec{
  grid-area: 3/1/4/2;
}
.quote-sec{
  grid-area: 3/2/4/4;
}
.todolist-sec{
  grid-area: 3/4/4/5;
}

/* media query */
@media all and (max-width:980px) {
  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2%;
  }
  .search-sec{
    grid-area:1/1/2/3;
  }
  .weather-sec{
    grid-area:1/4/2/6;
  }
  .main-sec{
    grid-area: 2/1/3/6;
  }
  .setting-sec{
    grid-area: 3/1/4/2;
  }
  .quote-sec{
    grid-area: 3/2/4/5;
  }
  .todolist-sec{
    grid-area: 3/5/4/6;
  }
}
